.header {
    background-color: orange;
    border: 3px solid red;
    height: 100px;
}

.navbarcolor {
    background-color: green;
    height: 55px;
}

ul {
    list-style-type: none;
    padding: 25px;
    /* List style type: none takes away the bullets to make the UL a nav bar*/
}

li {
    display: inline;
    padding: 10px;
    border: double;
    margin: 20px;
    text-align: center;
    text-decoration: bold;
   
} /*Use display inline to make horizontal nav bar w/ a list */

.par1 img{ 
display: block;  
width: 250px;
height: 250px;
position: absolute;
top: 100%;
left: 2%;

}

span {
    font-size: 20x;
    display: inline;
    color: green;
    font-family: Impact;
}
.sidebar {
    float: left;
    padding: 5px;
    width: 25%;
    background-color: light blue;
    



}

.par1 {
    display: inline;
    border: 1px dotted red  ;
    margin: 10px;
    padding-left: 30px;
    float: left;  
    width: 700px;




}

/*
.js-test {
    background: blue;
}
*/
