img { 
display: block;  


}
span {
    font-size: 20x;
    display: inline;
    color: green;
    font-family: Impact;

}

div h1 {
background-color: lightblue
display: inline;

border-width: 5px

}
 body {

	background-color: orange;
}


ul {
    list-style-type: none;
    margin: 50px;
    padding: 50px;
}

li {
	font-size: 18px;
	border-style: dotted solid double dashed;
    float: left;
    margin: 10px 10px 10px 10px;
}



a {
    display: inline-block;
    width: 125px;
    padding-left: 5px;


}

ol {
padding-left: 25px

}
div a { 
	display: inline;
	width: 200px;
	border: 5px solid brown;
	position: center;
	
}

